<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h2>マイショップ情報編集</h2>
    </div>
    <div class = "col-5">
      <%= image_tag @shop.image,size: "400x400" %>
    </div>
    <div class = "col-6">
      <%= form_with model: @shop, url: shop_shops_information_path(@shop.id) do |f| %>
      <table class = "table">
      <tr>
        <th>店舗画像</th>
        <th><%= f.file_field :image, accept: "image/*" %></th>
      </tr>
      <tr>
        <th>店舗名</th>
        <th><%= f.text_field :name, class: 'form-control' %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= f.text_field :email, class: 'form-control' %></th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th><%= f.text_field :postal_code, class: 'form-control' %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= f.text_field :address, class: 'form-control' %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= f.text_field :telephone_number, class: 'form-control' %></th>
      </tr>
      <tr>
        <th>ジャンル名</th>
        <th><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),prompt: "-- 選択してください --", required: true %></th>
      </tr>
      <tr>
        <th><%= link_to "　退会する　", shop_unsucribe_path(@shop.id), class: "btn btn-danger" %></th>
        <th><%= f.submit '変更を保存', class: "btn btn-success" %></th>
      </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>