<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h2>ラーメン一覧</h2>
    </div>
    <% @products.each do |product| %>
    <div class = "col-4">
    <%=image_tag product.image, size: "300x300" %>
      <table class = "table">
        <tr>
          <th>商品名</th>
          <th><%= product.name %></th>
        </tr>
        <tr>
          <th>ジャンル名</th>
          <th><%= product.genre.name %></th>
        </tr>
        <tr>
          <th>税込価格</th>
          <th><%= product.price %></th>
        </tr>
        <tr>
          <th>販売店舗</th>
          <th><%= product.shop.name %></th>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</div>