<div class = "container" >
  <div class = "row">
    <div clas = "col-12">
      <h2>営業時間編集画面</h2>
      <table class = "table">
        <tr>
          <th>時間</th>
          <th>月曜日</th>
          <th>火曜日</th>
          <th>水曜日</th>
          <th>木曜日</th>
          <th>金曜日</th>
          <th>土曜日</th>
          <th>日曜日</th>
        </tr>
        <%= form_with model: @businesshour, url: shop_businesshour_path do |f| %>
        <tr>
          <th><%= f.time_select :start_time %><%= f.time_select :end_time %></th>
          <th><%= f.select :monday, [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :tuesday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :wednesday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :thursday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :friday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :saturday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.select :sunday,  [['-',0],['●',1]], { include_blank: true, selected: 0 } %></th>
          <th><%= f.submit '変更', class: "btn btn-success" %></th>
        </tr>
        <% end %>
      </table>
      <strong>※ ●が営業中 -が閉店中 </strong>
    </div>
  </div>
</div>