<div class = "container">
  <div class = "row">
    <div class = "col-2">
      <table class = "table">
        <tr>
          <th>ジャンル一覧</th>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <th>
          <%= link_to genre_path(genre.id) do %>
          <%= genre.name %>
          <% end %>
          </th>
        </tr>
        <% end %>
      </table>
    </div>
    <div class = "col-10">
      <div class = "col-5">
        <h2>店舗一覧</h2>
        <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont %>
        <%= f.submit %>
        <% end %>
      </div>
    <div class = "col-12">
      <table class = "table">
        <tr>
          <th></th>
          <th>店舗名</th>
          <th>住所</th>
          <th>ジャンル名</th>
          <th>営業状況</th>
          <th>お気に入り数</th>
        </tr>
        <% @shops.each do |shop| %>
        <tr>
          <td>
            <%= link_to shop_path(shop.id) do %>
            <%= image_tag shop.image, size: "100x100" %>
            <% end %>
          </td>
          <td><%= shop.name %></td>
          <td><%= shop.address %></td>
          <td><%= shop.genre.name %></td>
          <!--月曜日のshopの営業状況判断-->
          <% if Date.today.wday == 1 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.monday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--火曜日のshopの営業状況判断-->
          <% if Date.today.wday == 2 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.tuesday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--水曜日のshopの営業状況判断-->
          <% if Date.today.wday == 3 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.wednesday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--木曜日のshopの営業状況判断-->
          <% if Date.today.wday == 4 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.thursday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--金曜日のshopの営業状況判断-->
          <% if Date.today.wday == 5 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.friday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--土曜日のshopの営業状況判断-->
          <% if Date.today.wday == 6 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.saturday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--日曜日のshopの営業状況判断-->
          <% if Date.today.wday == 7 %>
            <% shop.businesshours.each do |businesshour| %>
              <% if businesshour.sunday == true %>
                <% if Time.current.strftime('%H%M').to_i.between?(businesshour.start_time.strftime('%H%M').to_i, businesshour.end_time.strftime('%H%M').to_i) %>
                <% @shop_status = "Open" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <!--営業時間表示箇所-->
          <% if @shop_status == "Open" %>
            <td class="text-success font-weight-bold">Open</td>
          <% else %>
            <td class="text-danger font-weight-bold">Close</td>
          <% end %>
          <% @shop_status = "Close" %>

          <!--ログイン中のみいいねが付けられる-->
          <% if customer_signed_in? %>
            <% if shop.favorited_by?(current_customer) %>
              <td>
                <%= link_to shop_favorites_path(shop), method: :delete do %>
                  ♥<%= shop.favorites.count %> いいね
                <% end %>
              </td>
            <% else %>
              <td>
              <%= link_to shop_favorites_path(shop), method: :post do %>
                ♡<%= shop.favorites.count %> いいね
              <% end %>
              </td>
            <% end %>
          <% else %>
            <td><%= shop.favorites.count %></td>
          <% end %>
          </tr>
        <% end %>
      </table>
      <%= paginate @shops %>
    </div>
  </div>
</div>