<div class = "container">
  <div class = "row">
    <div class = "col-lg-4 my-4">
      <%=image_tag @shop.image, class:"img-fluid", alt:"Responsive image",style: "width: 100%;" %>
    </div>
    <div class = "col-lg-3 my-4">
      <h4>店舗情報</h4>
      <table class = "table">
        <tr>
          <th>店舗名</th>
          <th><%= @shop.name %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @shop.address %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @shop.genre.name %></th>
        </tr>
        <tr>
          <th>お気に入り数</th>
          <th><%= @shop.favorites.count %></th>
        </tr>
        <tr>
          <th>コメント数</th>
          <th><%= @shop.shop_comments.count %></th>
        </tr>
        <tr>
          <th>営業状況</th>
            <% if @shop_status == "Open" %>
              <td class="text-success font-weight-bold">Open</td>
            <% else %>
              <td class="text-danger font-weight-bold">Close</td>
            <% end %></th>
        </tr>
      </table>
    </div>
    <div class = "col-xl-5 my-4">
      <h4>営業時間情報</h4>
      <div>
        <table class = "table">
          <tr>
            <th>時間</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>日</th>
          </tr>
          <% if @businesshours.exists? %>
            <% @businesshours.each do |businesshour| %>
              <tr>
                <th><%= businesshour.start_time.strftime( "%H:%M" ) %> - <%= businesshour.end_time.strftime( "%H:%M" ) %></th>
                <% if Date.today.wday == 1 %>
                  <% if businesshour.monday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.monday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 2 %>
                  <% if businesshour.tuesday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.tuesday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 3 %>
                  <% if businesshour.wednesday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.wednesday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 4 %>
                  <% if businesshour.thursday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.thursday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 5 %>
                  <% if businesshour.friday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.friday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 6 %>
                  <% if businesshour.saturday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.saturday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
                <% if Date.today.wday == 7 %>
                  <% if businesshour.sunday == true %>
                    <td bgcolor="#F2F2F2",class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td bgcolor="#F2F2F2",class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% else %>
                  <% if businesshour.sunday == true %>
                    <td class="text-success font-weight-bold">●</td>
                  <% else %>
                    <td class="text-secondary font-weight-bold">ー</td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <div>営業時間が登録されていません</div>
          <% end %>
        </table>
      </div>
    </div>
    <div class = "col-12">
      <h2>Menu</h2>
    </div>
    <% @products.each do |product| %>
    <div class = "col-lg-3">
    <%= link_to product_path(product.id) do %>
    <%=image_tag product.image,class:"img-fluid p-3", alt:"Responsive image",style: "width: 100%;" %>
    <% end %>
      <table class = "table">
        <tr>
          <th>商品名</th>
          <th><%= product.name %></th>
        </tr>
        <tr>
          <th>ジャンル名</th>
          <th><%= product.genre.name %></th>
        </tr>
        <tr>
          <th>税込価格</th>
          <th><%= product.price %></th>
        </tr>
      </table>
    </div>
    <% end %>
    <div class = "col-12">
      <h2>Store</h2>
      <strong>ご自宅でもお店の味を楽しめます</strong>
    </div>
    <% @items.each do |item| %>
      <% if item.is_active == true %>
      <div class = "col-lg-3">
      <%= link_to item_path(item.id) do %>
      <%=image_tag item.image, class:"img-fluid", alt:"Responsive image",style: "width: 100%;" %>
      <% end %>
        <table class = "table">
          <tr>
            <th>商品名</th>
            <th><%= item.name %></th>
          </tr>
          <tr>
            <th>ジャンル名</th>
            <th><%= item.genre.name %></th>
          </tr>
          <tr>
            <th>税込価格</th>
            <th><%= item.price %></th>
          </tr>
        </table>
      </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="offset-1 card-list-container ">
  <h2>新着コメント</h2>
  <div class = "row o-gutters" >
  <% @shop.shop_comments.each.each do |shop| %>
    <div class = "col-3">
      <div class="card mx-auto mt-4 shadow-lg">
        <%=image_tag shop.customer.image, style: "width: 100%; height: 100px;" %>
        <div class="card-body">
          <table class = "table">
            <tr>
              <th>ユーザー名</th>
              <th><%= shop.customer.last_name %><%= shop.customer.first_name %></th>
            </tr>
            <tr>
              <th>商品名</th>
              <th><%= shop.product.name %></th>
            </tr>
            <tr>
              <th>コメント</th>
              <th><%= shop.comment %></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% if customer_signed_in? %>
<div class = "mt-4 offset-3 col-12">
  <h2>コメント投稿</h2>
</div>
<div class = "mt-4 offset-3 col-5">
    <%= form_with model: @shop_comment, url: shop_comments_path(@shop), method: :post do |f| %>
    <table class = "table">
      <tr>
        <th><%= f.label :product_id, '商品名' %></th>
        <th><%= f.select :product_id, options_from_collection_for_select(@products, :id, :name),prompt: "ラーメンを選択して下さい", required: true, class: "w-50" %></th>
      </tr>
      <tr>
        <th>コメント入力</th>
        <th><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %></th>
      </tr>
      <tr>
        <th></th>
        <th><%= f.submit "送信する", class:"btn btn-success" %></th>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>