<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h2>会員一覧</h2>
      <% @customers.each do |customer| %>
      <table class ="table">
        <tr>
          <th>会員id</th>
          <th>ユーザー名(漢字)</th>
          <th>ユーザー名(カナ)</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
          <th></th>
        </tr>
        <tr>
          <th><%= customer.id %></th>
          <th>
          <%= link_to admin_customer_path(customer), style: "color: #000; text-decoration: underline;" do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
          </th>
          <th><%= customer.last_name_kana %><%= customer.first_name_kana %></th>
          <th><%= customer.email %></th>
          <% if customer.is_deleted == false %>
            <th class="text-success font-weight-bold">有効</th>
            <%= form_with model: @customers, url: admin_customer_withdraw_path(customer.id), method: :patch do |f| %>
            <th><%= f.submit '退会', class: "btn btn-danger" %></th>
            <% end %>
          <% else %>
            <th class="text-secondary font-weight-bold">退会</th>
            <%= form_with model: @customers, url: admin_customer_reunion_path(customer.id), method: :patch do |f| %>
            <th><%= f.submit '復会', class: "btn btn-success" %></th>
            <% end %>
          <% end %>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>