<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h2>注文履歴一覧</h2>
    </div>
    <div class = "col-12">
      <table class = "table">
        <tr>
          <th>ご購入者様</th>
          <th>商品名</th>
          <th>数量</th>
          <th>価格(税込)</th>
          <th>配送状況</th>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.order.customer.last_name %><%= order_detail.order.customer.first_name %></td>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.order.status_i18n %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>