<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h3>ジャンルの新規登録</h3>
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit '新規登録', class: "btn btn-success" %>
      <% end %>
    </div>
    <div class = "col-12">
      <table class = "table">
        <tr>
          <th>ジャンル名</th>
          <th></th>
          <th></th>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete, class: "btn btn-danger" %></td>
          <td><%= link_to "編集", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>