<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h2>商品編集画面</h2>
    </div>
    <div class = "col-5">
      <%= image_tag @product.image, size: "400x400" %>
    </div>
    <div class = "col-7">
      <table class = "table">
      <%= form_with model: @product, url: shop_product_path(@product.id) do |f| %>
      <tr>
        <th><%= f.label :image, '商品画像' %></th>
        <th><%= f.file_field :image, accept: "image/*", required: true %></th>
      </tr>
      <tr>
        <th><%= f.label :name, '商品名' %></th>
        <th><%= f.text_field :name, placeholder: "商品名", required: true, size: "44" %></th>
      </tr>
      <tr>
        <th><%= f.label :introduction, '商品説明' %></th>
        <th><%= f.text_area :introduction, placeholder: "商品説明", required: true, size: "44" %></th>
      </tr>
      <tr>
        <th><%= f.label :price, '商品価格(税込)' %></th>
        <th><%= f.text_field :price, placeholder: "商品価格", required: true, size: "44" %></th>
      </tr>
      <tr>
        <th><%= f.label :genre_id, 'ジャンル名' %></th>
        <th><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),prompt: "-- 選択してください --", required: true %></th>
      </tr>
      <tr>
        <th></thc>
        <th><%= f.submit '変更を保存', class: "btn btn-success" %></th>
      </tr>
        <%= f.hidden_field :shop_id, :value => current_shop.id %>
      <% end %>
      </table>
    </div>
  </div>
</div>