<% if @products.exists? %>
  <div class = "container">
    <div class = "row">
      <div class = "col-12">
        <h2>商品一覧</h2>
      </div>
      <% @products.each do |product| %>
      <div class = "col-3">
      <%= link_to edit_shop_product_path(product.id) do %>
      <%= image_tag product.image, size: "255x200" %>
      <% end %>
        <table class = "table">
          <tr>
            <th>商品名</th>
            <th><%=  product.name %></th>
          </tr>
          <tr>
            <th>商品価格(税込)</th>
            <th><%= product.price %></th>
          </tr>
          <tr>
            <th>ジャンル名</th>
            <th><%= product.genre.name %></th>
          </tr>
          <tr>
            <% product.tags.each do |tag| %>
            <th class="label"><%= tag.name %></th>
            <% end %>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>商品が登録されていません。</h2>
<% end %>