<% if @products.exists? %>
  <div class = "container">
    <div class = "row">
      <% @products.each do |product| %>
      <div class = "col-3">
      <%= link_to edit_shop_product_path(product.id) do %>
      <%= image_tag product.image, size: "200x200" %>
      <% end %>
        <table class = "table">
          <tr>
            <th>商品名</th>
            <th><%=  product.name %></th>
          </tr>
          <tr>
            <th>商品価格(税込)</th>
            <th><%= product.price %></th>
          </tr>
          <tr>
            <th>ジャンル名</th>
            <th><%= product.genre.name %></th>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>商品が登録されていません。</h2>
<% end %>