<div class = "container">
  <div class = "row">
    <div class = "offset-3 col-6">
      <table class = "table">
        <%= form_with model: @product, url: shop_products_path do |f| %>
          <tr>
            <th><%= f.label :name, '商品画像' %></th>
            <th><%= f.file_field :image, accept: "image/*" %></th>
          </tr>
          <tr>
            <th><%= f.label :name, '商品名' %></th>
            <th><%= f.text_field :name, class: 'form-control' %></th>
          </tr>
          <tr>
            <th><%= f.label :genre_id, 'ジャンル名' %></th>
            <th><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),prompt: "-- 選択してください --", required: true, class: "w-50" %></th>
          </tr>
          <tr>
            <th><%= f.label :introduction, '商品説明' %></th>
            <th><%= f.text_area :introduction, class: 'form-control' %></th>
          </tr>
          <tr>
          <th><%= f.label :price, '税込価格' %></th>
          <th><%= f.number_field :price, min: 0, placeholder: "1000", required: true, class: "w-50" %>円</th>
          </tr>
          <%= f.hidden_field :shop_id, :value => current_shop.id %>
          <tr>
          <td></td>
          <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </div>
    </div>
  </div>
</div>