<div style="background-color:#040954;">
  <div class="container mb-5">
      <div class="row">
        <div class='col-md-2'>
          <%= link_to root_path do %>
            <%= image_tag "logo1.png", size: "150x150" %>
          <% end %>
        </div>
      <% if customer_signed_in? %>
      <div class= "col-3 d-flex align-items-center">
        <p style ="color: white">ようこそ <%= customer.last_name %><%= customer.first_name %>さん</p>
      </div>
      <div class='col-md-8 offset-md-5 pull-right d-flex align-items-center'>
        <div class="text-right">
          <button type="button" class="btn btn-light"><%= link_to 'アバウト',about_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'マイページ',customers_my_page_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '店舗一覧',shops_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ラーメン一覧',products_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'カート内商品',cart_items_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: "text-dark" %></button>
        </div>
      </div>
      <% elsif admin_signed_in? %>
      <div class='col-md-9 offset-md-3 pull-right d-flex align-items-center'>
        <div class="text-right">
          <button type="button" class="btn btn-light"><%= link_to '店舗の新規登録',new_shop_registration_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '店舗一覧',admin_shops_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '会員一覧',admin_customers_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ジャンル一覧',admin_genres_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'コメント一覧',admin_comments_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '注文一覧',admin_orders_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: "text-dark" %></button>
        </div>
      </div>
      <% elsif shop_signed_in? %>
      <div class='col-md-10 offset-md-2 pull-right d-flex align-items-center'>
        <div class="text-right">
          <button type="button" class="btn btn-light"><%= link_to 'マイショップ',shop_shops_my_shop_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '商品の新規登録',new_shop_product_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '商品一覧',shop_products_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ストア関連',shop_items_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '注文履歴一覧',shop_order_details_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'コメント一覧',shop_comments_index_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ログアウト',destroy_shop_session_path, method: :delete, class: "text-dark" %></button>
        </div>
      </div>
      <% else %>
      <div class='col-md-6 offset-md-4 pull-right d-flex align-items-center'>
        <div class="text-right">
          <button type="button" class="btn btn-light"><%= link_to 'アバウト',about_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '店舗一覧',shops_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '商品一覧',products_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to '新規登録',new_customer_registration_path, class: "text-dark" %></button>
          <button type="button" class="btn btn-light"><%= link_to 'ログイン',new_customer_session_path, class: "text-dark" %></button>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>