<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light mb-3">
    <div class="container">
      <div class="navbar-brand p-3">
        <%= link_to root_path do %>
          <%= image_tag "logo2.jpg", size: "300x70" %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
      <div class= "col-3 d-flex align-items-center">
        <p style ="color: white">ようこそ <%= customer.last_name %><%= customer.first_name %>さん</p>
      </div>
          <li class="nav-item"><%= link_to 'マイページ',customers_my_page_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '店舗一覧',shops_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ラーメン一覧',products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'カート内商品',cart_items_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
      <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to '店舗の新規登録',new_shop_registration_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '店舗一覧',admin_shops_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '会員一覧',admin_customers_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ジャンル一覧',admin_genres_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'コメント一覧',admin_comments_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '注文一覧',admin_orders_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
      <% elsif shop_signed_in? %>
          <li class="nav-item"><%= link_to 'マイショップ',shop_shops_my_shop_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '商品の新規登録',new_shop_product_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '商品一覧',shop_products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ストア関連',shop_items_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '注文履歴一覧',shop_order_details_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'コメント一覧',shop_comments_index_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ログアウト',destroy_shop_session_path, method: :delete, class: 'nav-link text-dark' %></li>
      <% else %>
          <li class="nav-item"><%= link_to '店舗一覧',shops_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '商品一覧',products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to '新規登録',new_customer_registration_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to 'ログイン',new_customer_session_path, class: 'nav-link text-dark' %></li>
      <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>